<ul class="sidenav-group">
    <li data-ng-click="drawFeature()">
        <span class="fa fa-pencil"></span>
        <span>Tegne</span>
    </li>
    <li data-ng-click="measureLine()">
        <span class="flaticon-tool292"></span>
        <span>Mål lengde</span>
    </li>
    <li data-ng-click="measurePolygon()">
        <span class="flaticon-triangular43"></span>
        <span>Mål areal</span>
    </li>
    <li>
        <span class="material-icons">transform</span>
        <span>Transformere koordinater</span>
    </li>
    <li>
        <span class="icon-share2"></span>
        <span>Del kartet</span>
    </li>
    <li>
        <span class="fa fa-code"></span>
        <span>Bruk kartutsnitt</span>
    </li>
</ul>