<ul class="sidenav-group">
    <!--<li>-->
        <!--<span class="fa fa-pencil"></span>-->
        <!--<span translate="Draw_title"></span>-->
    <!--</li>-->
    <li data-ng-click="showMoveableDrawMenu();closeNav();initDrawFeatureTool()">
        <span class="fa fa-pencil"></span>
        <span translate="Draw_title"></span>
    </li>
    <li data-ng-click="measureLine()">
        <span class="flaticon-tool292"></span>
        <span translate="MeasureLine_title"></span>
    </li>
    <li data-ng-click="measurePolygon()">
        <span class="flaticon-triangular43"></span>
        <span translate="Measure_title"></span>
    </li>
    <li data-ng-click="showShareMapMenu()">
        <span class="icon-share2"></span>
        <span translate="ShareMap_title"></span>
    </li>
    <!--<li>-->
        <!--<span class="fa fa-code"></span>-->
        <!--<span translate="UseMapView_title"></span>-->
    <!--</li>-->
    <li data-ng-click="printMap()">
        <span class="glyphicon glyphicon-print"></span>
        <span translate="Print"></span>
    </li>
</ul>