<ul class="sidenav-group">
    <li data-ng-click="showMoveableDrawMenu();closeNav();initDrawFeatureTool()">
        <div class="row">
            <div class="col-xs-1">
                <span class="fa fa-pencil"></span>
            </div>
            <div class="col-xs-11">
                <span translate="Draw_title"></span>
            </div>
        </div>
    </li>
    <li data-ng-click="measureLine()">
        <div class="row">
            <div class="col-xs-1">
                <span class="flaticon-tool292"></span>
            </div>
            <div class="col-xs-11">
                <span translate="MeasureLine_title"></span>
            </div>
        </div>
    </li>
    <li data-ng-click="measurePolygon()">
        <div class="row">
            <div class="col-xs-1">
                <span class="flaticon-triangular43"></span>
            </div>
            <div class="col-xs-11">
                <span translate="Measure_title"></span>
            </div>
        </div>
    </li>
    <li data-ng-click="showShareMapMenu()">
        <div class="row">
            <div class="col-xs-1">
                <span class="fa fa-share-alt"></span>
            </div>
            <div class="col-xs-11">
                <span translate="ShareMap_title"></span>
            </div>
        </div>
    </li>
    <li data-ng-click="printMap()">
        <div class="row">
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-print"></span>
            </div>
            <div class="col-xs-11">
                <span translate="Print"></span>
            </div>
        </div>
    </li>
</ul>