<div class="sidenav-group">
    <ul>
        <li data-ng-click="removeGroups(); showMainMenuSections()">
            <div class="sidenav-header-text row">
                <div class="col-xs-1">
                    <span data-ng-class="selectedProject.symbol" data-ng-bind="selectedProject.symbol_text"></span>
                </div>
                <div class="col-xs-11">
                    <span translate="{{selectedProject.title}}"></span>
                    <div class="backbtn">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="sidenav-group">
    <ul>
        <li class="sidenav-sections" data-ng-repeat="group in groupLayers" data-ng-click="group.isOpen = !group.isOpen;">
            <div class="row">
                <div class="col-xs-1">
                    <span data-ng-class="getGroupStyleStatus(group)" data-ng-click="toggleGroup(group); $event.stopPropagation();"></span>
                </div>
                <div class="col-xs-11">
                    <span data-ng-bind="group.name | capitalize"></span>
                    <span class="backbtn glyphicon glyphicon-menu-down" data-ng-show="!group.isOpen"></span>
                    <div class="upbtn" data-ng-show="group.isOpen">
                        <span class="glyphicon glyphicon-menu-up"></span>
                    </div>
                </div>
            </div>
            <ul data-ng-show="group.isOpen">
                <li data-ng-repeat="isyLayer in group.isyLayers" data-ng-click="toggleLayer(isyLayer); $event.stopPropagation();">
                    <div class="row">
                        <div class="col-xs-1">
                            <span data-ng-class="getLayerStyleStatus(isyLayer)"></span>
                        </div>
                        <div class="col-xs-9">
                            <span data-ng-bind="isyLayer.name | capitalize"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="new-section">
    <ul>
        <li class="sidenav-sections" data-ng-click="legend.open = !legend.open">
            <div class="row">
                <div class="col-xs-11">
                    <span translate="legend_txt"></span>
                </div>
                <div class="col-xs-1">
                    <span data-ng-show="legend.open" class="nextbtn glyphicon glyphicon-menu-up"></span>
                    <span data-ng-show="!legend.open" class="nextbtn glyphicon glyphicon-menu-down"></span>
                </div>
            </div>
        </li>
    </ul>
    <div class="legend-panel" data-ng-show="legend.open">
        <ul>
            <li data-ng-repeat="group in groupLayers | filter:groupFilter">
                <div class="row" data-ng-show="checkMatrikkel(group)">
                    <div class="legend1"></div>
                    <div class="legend2"></div>
                </div>
                <ul>
                    <li data-ng-repeat="isyLayer in group.isyLayers | filter:legendFilter">
                        <div class="row">
                            <div class="col-xs-9">
                                <span data-ng-bind="isyLayer.name | capitalize"></span>
                            </div>
                            <div class="col-xs-10">
                                <img class="legend" data-ng-src="{{GetLegendGraphicUrl(isyLayer)}}">
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>