<div class="sidenav-group">
    <ul>
        <li tabindex="0" ng-keypress="showMainMenuBaseLayers()" data-ng-click="showMainMenuBaseLayers()">
            <div class="sidenav-header-text row">
                <div class="col-xs-1">
                    <span class="icon-toggle-on fa fa-map"></span>
                </div>
                <div class="col-xs-11">
                    <span class="text-uppercase"><span translate="bakgrunnskart"></span>:</span>
                    <span translate="{{getSelectedBaseLayerName()}}"></span>
                    <span class="nextbtn glyphicon glyphicon-menu-right"></span>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="sidenav-group">
    <div class="margin-header-text">
        <div class="sidenav-header-text pointer-cursor row" data-ng-click="themaMenu.open = !themaMenu.open">
            <div class="col-xs-1">
                <span class="icon-important fa fa-map"></span>
            </div>
            <div class="col-xs-11">
                <span class="text-uppercase" translate="temakart"></span>
                <span data-ng-show="!themaMenu.open" class="upbtn glyphicon glyphicon-menu-up"></span>
                <span data-ng-show="themaMenu.open" class="upbtn glyphicon glyphicon-menu-down"></span>
            </div>
        </div>
    </div>
    <ul data-ng-show="!themaMenu.open">
        <div gn-Wms-Import="wms" gn-Wms-Import-Map="Map" gn-Wms-Import-Url="addLayerUrl.wms"></div>
    </ul>
</div>

<div class="sidenav-group">
    <div class="margin-header-text">
        <div class="sidenav-header-text pointer-cursor row" data-ng-click="sectionMenu.open = !sectionMenu.open">
            <div class="col-xs-10">
                <span class="text-uppercase" translate="hva_vil_du_gjore"></span>
            </div>
            <div class="col-xs-2">
                <span data-ng-show="!sectionMenu.open" class="upbtn glyphicon glyphicon-menu-up"></span>
                <span data-ng-show="sectionMenu.open" class="upbtn glyphicon glyphicon-menu-down"></span>
            </div>
        </div>
    </div>
    <ul data-ng-show="sectionMenu.open">
        <li tabindex="0" class="sidenav-sections" data-ng-click="showMoveableDrawMenu();closeNav();initDrawFeatureTool()" ng-keypress="showMoveableDrawMenu();closeNav();initDrawFeatureTool()">
            <div class="row">
                <div class="col-xs-1">
                    <span class="icon-important fa fa-pencil"></span>
                </div>
                <div class="col-xs-11">
                    <span class="text-uppercase" translate="tegne_og_male"></span>
                    <span class="nextbtn glyphicon glyphicon-menu-right"></span>
                </div>
            </div>
        </li>
        <li tabindex="0" class="sidenav-sections" data-ng-click="showMoveableShareMapMenu(); closeNav()" ng-keypress="showMoveableShareMapMenu(); closeNav()">
            <div class="row">
                <div class="col-xs-1">
                    <span class="icon-important fa fa-share-alt"></span>
                </div>
                <div class="col-xs-11">
                    <span class="text-uppercase" translate="dele_kartet"></span>
                    <span class="nextbtn glyphicon glyphicon-menu-right"></span>
                </div>
            </div>
        </li>
        <li tabindex="0" class="sidenav-sections" data-ng-click="showMoveablePrintMenu(); closeNav()" ng-keypress="showMoveablePrintMenu(); closeNav()">
            <div class="row">
                <div class="col-xs-1">
                    <span class="icon-important fa fa-print"></span>
                </div>
                <div class="col-xs-11">
                    <span class="text-uppercase" translate="skriv_ut"></span>
                    <span class="nextbtn glyphicon glyphicon-menu-right"></span>
                </div>
            </div>
        </li>
        <li tabindex="0" class="sidenav-sections" data-ng-click="showMoveableElevationProfileMenu();closeNav()" ng-keypress="showMoveableElevationProfileMenu();closeNav()">
            <div class="row">
                <div class="col-xs-1">
                    <span class="icon-important fa fa-area-chart"></span>
                </div>
                <div class="col-xs-11">
                    <span class="text-uppercase" translate="lag_hoydeprofil"></span>
                    <span class="nextbtn glyphicon glyphicon-menu-right"></span>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="sidenav-group">
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li tabindex="0" data-ng-click="showMainMenuFaq()" ng-keypress="showMainMenuFaq()">
                    <span translate="tips_og_triks"></span>
                    <span class="nextbtn glyphicon glyphicon-menu-right"></span>
                </li>
                <li tabindex="0" data-ng-click="showMainMenuContact()" ng-keypress="showMainMenuContact()">
                    <span translate="kontakt_oss"></span>
                    <span class="nextbtn glyphicon glyphicon-menu-right"></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="sidenav-group">
    <div class="row">
        <div class="col-xs-12">
            <div class="tab-group">
                <span class="tab-group-item" data-ng-class="{active: language.active}" data-ng-click="changeLanguage(language.id)" data-ng-repeat="language in languages" ng-keypress="changeLanguage(language.id)">
                    {{language.title}}
                </span>
            </div>
        </div>
    </div>
</div>
