<ul class="sidenav-group">
    <li data-ng-click="showMainMenuBaseLayers()">
        <div class="row">
            <div class="col-xs-1">
                <span class="fa fa-map-o"></span>
            </div>
            <div class="col-xs-11">
                <span translate="menu_select_baselayer"></span>
                <span data-ng-bind="getSelectedBaseLayerName()"></span>
                <span class="nextbtn glyphicon glyphicon-menu-right"></span>
            </div>
        </div>
    </li>
</ul>

<ul class="sidenav-group">
    <div class="sidenav-header-text row">
        <div class="col-xs-1">
            <span class="fa fa-map-o"></span>
        </div>
        <div class="col-xs-11">
            <span translate="ThematicMap_text"></span>
        </div>
    </div>
    <li data-ng-repeat="project in projects" data-ng-class="{activeMenu: project.isSelected}" data-ng-click="activateProject(project)">
        <div class="row">
            <div class="col-xs-1">
                <span data-ng-class="project.symbol" data-ng-bind="project.symbol_text"></span>
            </div>
            <div class="col-xs-11">
                <span translate="{{project.title}}"></span>
                <span class="nextbtn glyphicon glyphicon-menu-right"></span>
            </div>
        </div>
    </li>
</ul>

<div tool-main-menu></div>

<ul class="sidenav-group">
    <li>
        <div class="row">
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-question-sign"></span>
            </div>
            <div class="col-xs-11">
                <span translate="FAQ_title"></span>
            </div>
        </div>
    </li>
</ul>

<ul class="sidenav-group">
    <li data-ng-repeat="language in languages" data-ng-click="changeLanguage(language.id)">
        <div class="row">
            <div class="col-xs-1">
                <span data-ng-class="getSelectedLanguageStyle(language.active)"></span>
            </div>
            <div class="col-xs-11">
                <span translate="{{language.title}}"></span>
            </div>
        </div>
    </li>
</ul>