<ul class="sidenav-group">
    <li data-ng-click="showMainMenuBaseLayers()">
        <span class="icon-map2"></span>
        <span translate="menu_select_baselayer"></span>
        <span class="nextbtn glyphicon glyphicon-menu-right"></span>
    </li>
</ul>

<ul class="sidenav-group">
    <li data-ng-repeat="project in projects" data-ng-class="{activeMenu: project.isSelected}" data-ng-click="activateProject(project)">
        <span data-ng-class="project.symbol" data-ng-bind="project.symbol_text"></span>
        <span translate="{{project.title}}"></span>
        <span data-ng-show="project.isSelected" class="nextbtn glyphicon glyphicon-menu-right"></span>
    </li>
</ul>

<div tool-main-menu></div>

<ul class="sidenav-group">
    <li>
        <span class="glyphicon glyphicon-question-sign"></span>
        <span translate="FAQ_title"></span>
    </li>
</ul>

<ul class="sidenav-group">
    <li data-ng-repeat="language in languages" data-ng-click="changeLanguage(language.id)">
        <span data-ng-class="getSelectedLanguageStyle(language.active)"></span>
        <span translate="{{language.title}}"></span>
    </li>
</ul>