<div class="search-panel" ng-show="searchResults != undefined">
    <div class="header">
        <div class="row">
            <div class="col-xs-12">
                <span class="header-icon icon-important" data-ng-class="searchOptionsDict['lagNodplakat'].icon.value"></span>
                <span translate="lagNodplakat"></span>
                <div class="closebtn" data-ng-click="showSearchOptionsPanel()">
                    <span class="glyphicon glyphicon-menu-right"></span>
                    <span class="glyphicon glyphicon-menu-left"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="search-content">
        <div ng-show="lagNodplakatDict['placenamesByBbox']">
            <div class="title-text">
                <span translate="GiPunktetNavn"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="text"
                           placeholder="(F.eks. navn på hytta)"
                           ng-model="lagNodplakatName"
                           class="full-width"
                           />
                </div>
            </div>
        </div>

        <div class="new-section" ng-show="lagNodplakatDict['placenamesByBbox']">
            <div class="title-text">
                <span translate="PlaceIs"></span>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="dropdown">
                        <button class="btn btn-default btn-searchPanel dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span data-ng-bind="activePlaceName"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-relative" aria-labelledby="dropdownMenu2">
                            <li data-ng-repeat="(key, value) in lagNodplakatDict['placenamesByBbox']" data-ng-click="setNodePlagatName(value.stedsnavn)" class="pointer-cursor">
                                <span data-ng-bind="value.stedsnavn"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="new-section" ng-show="lagNodplakatDict['emergencyPosterPoint'].veg">
          <div>
            <div>
                <span translate="FoundRoadIs"></span>
                <div class="dropdown">
                  <button class="btn btn-default btn-searchPanel dropdown-toggle" type="button" id="dropdownStreet" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span data-ng-bind="activeStreet||lagNodplakatDict['emergencyPosterPoint'].veg"></span>
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-relative" aria-labelledby="dropdownStreet">
                      <li data-ng-repeat="(key, value) in lagNodplakatDict['emergencyPosterPoint'].vegliste" data-ng-click="setNodePlagatStreet(value)" class="pointer-cursor">
                          <span data-ng-bind="value"></span>
                      </li>
                  </ul>
                </div>
                <span translate="In"></span>
                <span> {{lagNodplakatDict['emergencyPosterPoint'].kommune}}</span>
                <span translate="Municipality"></span>
              </div>
            </div>
          <div class="row">
              <div class="col-xs-12">
                  <div class="dropdown">
                      <button class="btn btn-default btn-searchPanel dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <span>{{ valgtTekst | translate }}</span>
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-relative" aria-labelledby="dropdownMenu3">
                          <li data-ng-click="setlagNodplakatConfirmRoad(true)" class="pointer-cursor">
                              <span translate="ja"></span>
                          </li>
                          <li data-ng-click="setlagNodplakatConfirmRoad(false)" class="pointer-cursor">
                              <span translate="nei"></span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
        <div class="new-section navigation-button pull-right">
            <button class="btn btn-default btn-ordinary"
                    data-ng-click="showSearchOptionsPanel()" translate="Cancel_txt">
            </button>

            <button class="btn btn-default btn-important" data-ng-disabled="!nodplakatConfirmRoad"
                    data-ng-click="downloadEmergencyPoster()" translate="downloadEmergencyPoster">
            </button>
        </div>
    </div>
</div>
