<div class="search-panel" ng-show="searchResults != undefined">
    <div class="header">
        <div class="row">
            <div class="col-xs-8">
                <span class="header-icon icon-important" data-ng-class="searchOptionsDict['lagNodplakat'].icon.value"></span>
                <span translate="lagNodplakat"></span>
            </div>
            <div class="col-xs-4">
                <div class="closebtn" data-ng-click="showSearchOptionsPanel()">
                    <span class="glyphicon glyphicon-menu-right"></span>
                    <span class="glyphicon glyphicon-menu-left"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="search-content">
        <div ng-show="lagNodplakatDict['elevationPoint']">
            <div class="title-text">
                <span translate="GiPunktetNavn"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="text"
                           placeholder="(F.eks. navn på hytta)"
                           ng-model="lagNodplakatName"
                           class="full-width"
                           />
                </div>
            </div>
        </div>

        <div class="new-section" ng-show="lagNodplakatDict['elevationPoint']">
            <div class="title-text">
                <span translate="PlaceIs"></span>
                <span>{{lagNodplakatDict['elevationPoint']}}</span>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="dropdown">
                        <button class="btn btn-default btn-searchPanel dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span data-ng-bind="lagNodplakatDict['elevationPoint']"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-relative" aria-labelledby="dropdownMenu2">
                            <li data-ng-repeat="(key, value) in lagNodplakatDict['placenamesByBbox']" data-ng-click="setNodePlagatName(value.stedsnavn)" class="pointer-cursor">
                                <span data-ng-bind="value.stedsnavn"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-section">
            <span ng-show="lagNodplakatDict['emergencyPosterPoint'].veg">
                <span translate="FoundRoadIs"></span>
                <span> {{lagNodplakatDict['emergencyPosterPoint'].veg}} </span>
                <span translate="In"></span>
                <span> {{lagNodplakatDict['emergencyPosterPoint'].kommune}}</span>
                <span translate="Municipality"></span>
            </span>
        </div>
        <div class="new-section">
            <div class="row">
                <div class="col-xs-12">
                    <input type="checkbox" ng-model="lagNodplakatConfirmRoad" />
                    <span translate="CorrectRoad"></span>
                </div>
            </div>
        </div>


        <div class="new-section navigation-button pull-right">
            <button class="btn btn-default btn-ordinary"
                    data-ng-click="showSearchOptionsPanel()" translate="Cancel_txt">
            </button>

            <button class="btn btn-default btn-important" data-ng-disabled="!lagNodplakatConfirmRoad"
                    data-ng-click="showLagNodplakatPage3(lagNodplakatName)" translate="Next">
            </button>
        </div>
    </div>
</div>
