<div data-ng-repeat="layer in layers | filter:{show:'true'}">
    <div class="panel-heading" data-ng-click="toggleLayer(layer)">
        <h3 class="panel-title">
            <span data-ng-bind="layer.name"></span>
            <span class="glyphicon glyphicon-menu-down" data-ng-show="!layer.open"></span>
            <div class="upbtn" data-ng-show="layer.open">
                <span class="glyphicon glyphicon-menu-up"></span>
                <span class="glyphicon glyphicon-menu-up"></span>
            </div>
        </h3>
    </div>
    <div class="panel-body" data-ng-show="layer.open">
        <ul data-ng-repeat=" features in layer.features[0]">
            <li data-ng-repeat="feature in features" data-ng-click="toggleFeature(layer, feature)">
                <span data-ng-bind="getFeatureName($index)"></span>
                <span class="glyphicon glyphicon-menu-down" data-ng-show="!feature.open"></span>
                <div class="upbtn" data-ng-show="feature.open">
                    <span class="glyphicon glyphicon-menu-up"></span>
                    <span class="glyphicon glyphicon-menu-up"></span>
                </div>
                <div data-ng-show="feature.open">
                   <ul>
                       <li data-ng-repeat="attribute in feature">
                           <span data-ng-bind="attribute[0]"></span>
                           :
                           <span data-ng-bind="attribute[1]"></span>
                       </li>
                   </ul>
                </div>


            </li>
        </ul>
    </div>
</div>

<!--<div data-ng-repeat="layer in layers | filter:{show:'true'}">-->
    <!--<h3 data-ng-bind="layer.name"></h3>-->
    <!--<ul data-ng-repeat="feature in layer.features">-->
        <!--<li data-ng-repeat="attribute in feature.attributes">-->
            <!--<span data-ng-bind="attribute[0]"></span>-->
            <!--:-->
            <!--<span data-ng-bind="attribute[1]"></span>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
