<div>
    <a data-ng-click="getMailUrl()" data-ng-href="{{mailUrl}}">E-mail</a>
    <a data-ng-click="getTwitterUrl()" data-ng-href="{{twitterUrl}}" target="_blank">Twitter</a>
    <a data-ng-click="getFacebookUrl()" data-ng-href="{{facebookUrl}}" target="_blank">Facebook</a>
    <a data-ng-click="getIframe()">Iframe</a>
    <input ng-model="navigable" type="checkbox"><span>Navigerbar</span>
    <input ng-model="showTools" type="checkbox"><span>Vis verktøy</span>
    <button>Legg til markør</button>
    <input ng-model="shortDescription" type="text" placeholder="Kort beskrivelse">
    <input ng-model="longDescription" type="text" placeholder="Lang beskrivelse">
    <span data-ng-bind="iframe"></span>
</div>