<ul class="sidenav-group">
    <li data-ng-click="showMainMenuSections()">
        <span class="icon-share2"></span>
        <span translate="ShareMap_title"></span>
        <div class="backbtn">
            <span class="glyphicon glyphicon-menu-left"></span>
            <!--<span class="glyphicon glyphicon-menu-left"></span>-->
        </div>
    </li>
</ul>

<div>
    <a data-ng-click="getMailUrl()" data-ng-href="{{mailUrl}}">E-mail</a>
    <a data-ng-click="getTwitterUrl()" data-ng-href="{{twitterUrl}}" target="_blank">Twitter</a>
    <a data-ng-click="getFacebookUrl()" data-ng-href="{{facebookUrl}}" target="_blank">Facebook</a>
</div>