<div class="field-group">
    <div class="inner-addon left-addon right-addon">
        <input caret type="text" ng-change="searchBarValueChanged()" ng-model="searchBarModel" name="searchBarName" id="searchBarId" placeholder="{{'search_text' | translate}}"  />
        <i class="left-side glyphicon glyphicon-menu-hamburger has-tooltip" data-ng-click="openNav()">
            <span class="tooltip tooltip-absolute tooltip-info" translate="menu"></span>
        </i>
        <i ng-show="searchResults != undefined" data-ng-click="cleanResults(); resetSearchPanel()">
            <div class="cleanResults">
                <span class="glyphicon glyphicon-menu-right"></span>
                <span class="glyphicon glyphicon-menu-left"></span>
            </div>
        </i>
        <i class="absolute-right-side glyphicon glyphicon-search has-tooltip">
            <span class="tooltip tooltip-absolute tooltip-info" translate="search"></span>
        </i>
    </div>
</div>

<div ng-switch="searchPanelLayout">
    <div ng-switch-when="searchResultsPanel" search-results-panel></div>
    <div ng-switch-when="searchOptionsPanel" search-options-panel></div>
    <div ng-switch-when="searchSeEiendomPanel" search-se-eiendom-panel ng-init="showSelection()"></div>
    <div ng-switch-when="searchStedsnavnPanel" search-stedsnavn-panel ng-init="showSelection()"></div>
    <div ng-switch-when="searchKoordTransPanel" search-koord-trans-panel></div>
    <div ng-switch-when="searchLagTurkartPanel" search-lag-turkart-panel></div>
    <div ng-switch-when="searchLagFargeleggingskartPanel" search-lag-fargeleggingskart-panel></div>
    <div ng-switch-when="searchLagNodplakatPanel" search-lag-nodplakat-panel></div>
</div>
