<div class="search-panel" ng-show="searchResults != undefined">
    <div class="search-content">
        <div data-ng-show="searchResults['matrikkelveg']">
            <h4 class="no-top"><span translate="searchResult_roads"></span></h4>
            <ul class="list-result text-and-button">
                <li class="pointer-cursor"
                    ng-mouseover="mouseOver(searchResult)"
                    ng-repeat="searchResult in searchResults['matrikkelveg']">
                    <div class="row">
                        <div class="col-xs-7 move-up">
                            <span ng-mousedown="activatePosition(searchResult); showSearchOptionsPanel()"
                                  ng-bind="searchResult.name + ', ' + searchResult.kommune"></span>
                        </div>
                        <div class="col-xs-5 no-padding">
                            <div class="dropdown dropdown-search">
                                <button class="btn btn-default btn-searchPanel dropdown-toggle"
                                        type="button" id="dropdownMenu2"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="true"
                                        data-ng-show="mouseHoverSearchResult == searchResult">
                                    <span data-ng-show="searchResult.activeHusnum === undefined" translate="searchResult_houseNumber"></span>
                                    <span data-ng-show="searchResult.activeHusnum !== undefined" data-ng-bind="searchResult.activeHusnum"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-searchPanel default-list"
                                    aria-labelledby="dropdownMenu2"
                                    ng-show="mouseHoverSearchResult == searchResult">
                                    <li data-ng-repeat="husnum in searchResult.husnummer" data-ng-click="husnummerChanged(searchResult, husnum);" class="pointer-cursor">
                                        <span data-ng-bind="husnum"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div data-ng-show="searchResults['matrikkeladresse'] && !searchResults['matrikkelveg']">
            <h4 class="no-top"><span translate="searchResult_addresses"></span></h4>
            <ul class="list-result">
                <li ng-mouseover="mouseOver(searchResult)"
                    class="pointer-cursor"
                    ng-repeat="searchResult in searchResults['matrikkeladresse']"
                    ng-mousedown="activatePosition(searchResult); showSearchOptionsPanel()">
                <span ng-bind="searchResult.name + ', ' + searchResult.kommune"></span>
                    </select>
                </li>
            </ul>
        </div>
        <div data-ng-show="searchResults['matrikkelnummer']">
            <h4 class="no-top"><span translate="searchResult_cadastre"></span></h4>
            <ul class="list-result">
                <li ng-mouseover="mouseOver(searchResult)"
                    class="pointer-cursor"
                    ng-repeat="searchResult in searchResults['matrikkelnummer']"
                    ng-mousedown="activatePosition(searchResult); showSearchOptionsPanel()">
                <span ng-bind="searchResult.name + ', ' + searchResult.kommune"></span>
                    </select>
                </li>
            </ul>
        </div>
        <div data-ng-show="searchResults['ssr']">
            <h4 class="no-top"><span translate="searchResult_placenames"></span></h4>
            <div class="search-pagination">
                <dir-pagination-controls
                        max-size="6"
                        direction-links="true"
                        on-page-change="pageChanged(newPageNumber)">
                </dir-pagination-controls>
            </div>
            <div dir-paginate="obj in placenameItems | itemsPerPage: 15 track by $index"></div>
        </div>
        <ul class="list-result">
            <li class="pointer-cursor"
                ng-repeat="searchResult in searchResults['ssr']"
                ng-mousedown="activatePosition(searchResult); showSearchOptionsPanel()"
                ng-mouseover="mouseOver(searchResult)">
                <span ng-if="searchResult.name.indexOf(searchResult.kommune) > -1 && searchResult.name.indexOf(searchResult.navnetype) > -1" ng-bind="searchResult.name"></span>
                <span ng-if="searchResult.name.indexOf(searchResult.kommune) > -1 && searchResult.name.indexOf(searchResult.navnetype) == -1" ng-bind="searchResult.name + ', '  + searchResult.navnetype"></span>
                <span ng-if="searchResult.name.indexOf(searchResult.kommune) == -1 && searchResult.name.indexOf(searchResult.navnetype) == -1" ng-bind="searchResult.name + ', '  + searchResult.navnetype + ' i ' + searchResult.kommune"></span>
            </li>
        </ul>
    </div>
</div>