/*Dropdown menu start*/

.dropdown-menu-header-right{
  margin-top: 10px;
  margin-right: 9px;
}

.dropdown-menu-header-left{
  margin-top: 10px;
  margin-left: 9px;
}

.dropdown-menu>span>li {
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu>span>li:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
/*Dropdown menu end*/

/*Dropdown submenu start*/

.dropdown-submenu {
  position: relative;
  a{
    color: #333;
  }
  li:hover{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
}

//.dropdown-menu li .dropdown-menu {
//  position:static;
//}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu>ul{
  padding-left: 10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/*Dropdown submenu end*/