@font-face {
  font-family: "Flaticon";
  src: url("../assets/fonts/flaticon.eot");
  src: url("../assets/fonts/flaticon.eot#iefix") format("embedded-opentype"),
  url("../assets/fonts/flaticon.woff") format("woff"),
  url("../assets/fonts/flaticon.ttf") format("truetype"),
  url("../assets/fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
  font-weight: bolder;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding-left: 4px;
  padding-right: 2px;
}.flaticon-measuring7:before {
   content: "\e000";
 }
.flaticon-tool292:before {
  content: "\e001";
}
.flaticon-triangular43:before {
  content: "\e002";
}
