$shadow-color: rgba(0, 0, 0, 0.298039);
$shadow: $shadow-color 1px 1px 2px 1px;
$backgroundColor: white;

// Main colors
$color-primary: #20aaac; // Norconsult-webfarge 2
$color-contrast: #ea3d59; // Norconsult-webfarge 5
$color-1: #e7e7dd; // Norconsult-webfarge 1
$color-2: #c8dc3e; // Norconsult-webfarge 3

$dark: #2f3940; // Norconsult-webfarge 4
$white: white;

$gray-dark: #4c4c4e;
$gray: #98989b;
$gray-light: $color-1;

// Font families
$font-special-normal: 'Roboto Slab', arial, helvetica, sans-serif;
$font-default: 'Open sans', Arial, Helvetica, sans-serif;
$font-icon: ISYicons;

// Font sizes
$font-xsmall: 14px;
$font-small: 16px;
$font-medium: 17px;
$font-large: 24px;
$font-xlarge: 36px;

// Line heights
$line-height-xsmall: 1.3;
$line-height-small: 1.5;
$line-height-medium: 22px;
$line-height-large: 31px;
$line-height-xlarge: 40px;

// Borders
$border-radius: 5px;
$border: 1px solid $gray-light;
$border: 1px solid $color-primary;

h1 {
  font: {
    family: $font-special-normal;
    size: $font-xlarge;
    weight: normal;
  }

}

h2, h3, h4, h5, h6 {
  font-family: $font-default;
  font-weight: bold;
}

h2 {
  font-size: $font-large;
  font-weight: normal;
}

h3 {
  font-size: $font-medium;
}

h4, h5, h6 {
  font-size: $font-small;
}

a {
  color: $gray-light;

  &:hover,
  &:focus {
    color: $gray-light;
    text-decoration: none;
  }
}

body {
  background: $white;
  color: $dark;
  font-size: $font-small;
  font-family: $font-default;
  line-height: $line-height-xsmall;
}

p {
  line-height: $line-height-small;
}

ul {
  //overflow: hidden;
  padding: 0;
  font-size: 15px;//$font-xsmall;
  line-height: $line-height-small;

  li {
    list-style-type: none;
  }
}

/*
  Defines a class which disables click on the
  element but allows click on all child elements.
*/
.clickThrough{
  pointer-events: none;

  > *{
    pointer-events: all;
  }
}

body{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.main{
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-move{
  cursor: move;
}

.overlayContent{
  max-height: 100%;
  overflow: auto;
  border: $border;
  box-shadow: $shadow;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  .dropdown-menu{
    position: inherit;
  }
}

.pointer-cursor{
  cursor: pointer;
}

.panel-body {
  padding: 10px;
}

.panel-body > .content {
  margin-top: 10px;
}

a.active{
  color: $color-contrast;
}

.btn:focus{
  outline: 0!important;
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover{
  border-color: rgb(93, 166, 187);
  color: black;
}

//.button{
//  margin: 0;
//}
//
//button{
//  height: 30px;
//}
//button:focus{
//  outline: 0!important;
//}

//.btn{
//  padding: 4px 12px;
//  background-color: #20aaac;
//}
//
//.btn-default {
//  background-color: $color-primary;
//  color: white;
//  height: 30px;
//}
//
//.btn-default:hover{
//  background-color: #229597;
//  color: white;
//}
//
//.btn-default[disabled]{
//  background-color:grey;
//}
//
//.btn-default[disabled]:hover{
//  background-color:#6D6D6D;
//  color:white;
//}

.no-border{
  border: 0px;
}

.no-padding{
  padding-right: 0;
  padding-left: 0;
}

.login-icon{
  color: $color-primary;
}

.login-icon:hover{
  color: black;
}

.login-panel{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $gray;
  margin-top: 50px;
  background-color: white;
  border-radius: 4px;
}

.login-header{
  padding: 10px 10px 25px 10px;
  font-size: $font-large;
  margin: 20px;
  border-bottom: 1px solid $gray; //#e7e7dd;
}

.login-content{
  background: white;
  margin:25px 20px 20px 20px;
}

.field-group{
  .field-group-header{
    background-color: $color-1;
    margin:0 0 10px 0;
    padding: 5px;
    h2{
      display: inline;
      font-size: 18px;
      line-height: 22px;
    }
    span{
      font-size: 14px;
      font-weight: bold;
    }
  }

  .move-right{
    padding-left: 5px;
    width: auto;
  }

  .clean-btn{
    width: 780px;
  }

  box-sizing: border-box;
  clear: both;
  padding-bottom:4px;
  margin: auto;
  max-width: 420px;
  a,p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    word-wrap: break-word;
    font-size: 14px;
  }
  a {
    color: $gray-light;
    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
    }
  }

  .max-width-button{
    width: 100%;
  }

  .search-bar{
    width:800px;
  }

  button{
    .caret{
      margin-top: 6px;
    }
  }
  ul{
    width: 100%;
    //font-size: 15px;
  }

  label{
    color:#707070;
    font-weight: 100;
    display: block;
    text-align: left;
    width: auto;
    font-size: 13px;
    margin-bottom: 2px;
    padding-top: 5px;
  }

  input{
    border: 1px solid white;
    border-radius: 2px;
    //box-sizing: border-box;
    //font-size: inherit;
    //margin: 0;
    //vertical-align: baseline;
    //width: 100%;
    height: 48px;
    //padding-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 6px 1px;
    min-width: 420px;
    font-size: 18px;
  }
  .login-input{
    height: 30px;
    border: 1px solid #ccc;
  }

  .list-group-item{
    border-top: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  .list-group-item:first-child{
    border-top: none;
  }

  .list-group-item-no-border{
    border: 0;
    padding: 5px;
  }

}

.login-input{
  height: 30px;
  padding-left: 5px;
}

.login-img{
  border-radius: 4px;
  width: 40px;
  height: 40px;
  alignment: center;
}


.btn-default-login {
  background-color: #e7e7dd;
  text-shadow: 1px 1px 1px #021622;
  margin-right: 6px;
}

.btn-group{
  width: 100%;

  .btn{
    width: 100%;
  }
  input[type="radio"]{
    display: none;
  }
}

.btn-first{
  margin-top: 5px;
}

// END CONFIGAPP

html{
  font-size: 12px;
}

.isy{
  position: fixed;
}

.header-panel{
  left: 0;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #20aaac;
  color: #e7e7dd;
  padding: 6px;
}

.header-title{
  font-size: 22px;
}

.header-menu-icon{
  display: inline-block;
  padding: 0 10px;
  margin:4px;
  font-size: 17px;
  cursor: pointer;
}

.header-pointer{
  cursor: pointer;
}

.page-panel{
  top:$configPageWrapperTop;
  width: 100%;
  position: absolute;
  background-color: white;
}

.fullSizeMap{
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.main-menu-overlay{
  z-index: 10;
  position: absolute;
  top: 60px;
  left: 30px;
}

.moveable-overlay{
  z-index: 10;
  position: absolute;
  top: 20px;
  left: 270px;
}

.search-bar-overlay{
  z-index: 12;
  position: absolute;
  top: 12px;
  left: 19px;
}

.breadcrumbs {
  margin: 0;
}

.breadcrumbs span {
  padding: 5px 10px 5px 5px;
  border-right: 1px solid #e7e7dd;
}

.no-breadcrumbs{
  border-right:none!important;
}

.breadcrumbs span:last-child {
  border-right: none;
}

/*Tooltip start*/
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}

.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}

/*Tooltip end*/

.test-link {
  a{
    color: #000;
  }
}

.test-name{
    margin-top: 10px;
}

.searchbar-hover{
  color: blue;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 15px 20px;
  cursor: pointer;
  //pointer-events: none;
}

.inner-addon .ajax-loader-search{
  position: absolute;
}

.main-menu-panel{
  z-index: 12;
  position: absolute;
  top: 15px;
  left: 19px;
  height: 800px;
  min-width: 420px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 6px 1px;
  border-radius: 2px;
}

.search-panel{
  box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 6px 1px;
  background: white;
  border-radius: 2px;
  //padding: 10px 0 10px 5px;
  //padding: 10px;
  max-width: 420px;
}

.list-result{
  li{
    border-bottom: 1px solid #dedede;
  }
  li:last-child{
    border-bottom: 0;
  }
}

.default-list{
  li{
    border: 0;
  }
}



.search-content{
  //padding: 5px 10px 5px 10px;
  //padding: 12px 12px 10px 15px;
  padding: 15px 17px 15px 10px;
  margin-left: 10px;
  //margin-right: 10px;
  max-height: 800px;
  //max-width: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  li{
    padding: 4px 6px 4px 6px;
  }

  li:hover{
    background-color: #e8e6e6;
  }
  .move-up{
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .info-text{
    margin-bottom: 13px;
    //padding: 1px 5px 1px 6px;
    font-size: 15px;
    display: inline-block;
    //span{
    //  padding: 1px 5px 1px 6px;
    //  font-size: 15px;
    //  display: inline-block;
    //}
  }
  .header-text{
    span{
      //padding: 1px 5px 1px 6px;
      font-size: 15px;
      display: inline-block;
    }
  }
  .title-text{
    span{
      //padding: 1px 5px 1px 6px;
      display: inline-block;
    }
  }
  .title{
    display: inline-block;
  }

  //.backbtn{
  //  font-size: 15px;
  //  float: right;
  //  margin-right: 16px;
  //  padding-top: 0;
  //  cursor: pointer;
  //}


  //h4{
  //  margin-left: 6px;
  //  margin-bottom: 8px;
  //}

  input{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #b1b1b1;
    padding: 2px 4px 2px 6px;
    font-size: 15px;
    //margin: 1px 5px 1px 6px;
  }

  .btn{
    height: 26px;
    padding: 2px 10px;
  }

  .btn-content{
    background-color: rgb(93, 166, 187); //#2c98bb; //rgb(155, 201, 216);
    color: white;
    border-color: white;
  }

  .checkbox{
    margin-top:5px;
    width: 15px;
  }

  .new-section{
    margin-top: 8px;
  }

  //.header{
  //  //border-bottom: 1px solid #929090;
  //  margin: 0 0 10px;
  //  background-color: #e2f0f4;
  //  padding-top: 8px;
  //  border-radius: 4px;
  //}

  iframe{
    margin: 5px;
  }

}

.header{
  //border-bottom: 1px solid #929090;
  //margin: 0 0 10px;
  background-color: rgb(60, 131, 152); //#5da6bb;
  padding: 10px 10px 0 20px;
  color: white;
  //border-radius: 4px;
  h4{
    display: inline-block;
    font-weight: normal;
  }

  .backbtn{
    font-size: 15px;
    float: right;
    margin-right: 16px;
    padding-top: 0;
    cursor: pointer;
  }

}

.search-pagination{
  margin-left: 7px;
  li{
    padding: 0;
  }
  li:hover{
    background-color: transparent;
  }
  .pagination{
    margin: 10px 0;
  }
}

.no-top{
  margin-top: 0;
}

.dropdown-search{
  width: 135px;
  z-index: 50;
  position: initial;
}

.dropdown-searchPanel {
  max-width: 135px;
  max-height: 250px;
  overflow-x: auto;
  li{
    padding: 0 3px 0 3px;
  }
}

.btn-searchPanel{
  width: 100%;
  background-color: #fff;
  border-color: #ccc;
  color: #000;
  height: 26px;
  padding: 0 0;
}

.dropdown-menu{
  top: inherit;
  min-width: 100px;
  width:100%;
}

.dropdown-menu-relative{
  position: relative;
}

.dropdown-menu>li>span {
  display: block;
  padding: 1px 20px;
  clear: both;
  font-weight: 400;
  //line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.btn-searchPanel:focus, .btn-searchPanel:hover{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-searchPanel:active, .btn-searchPanel:visited{
  background-color: #fff;
}

.btn-searchPanel.active, .btn-searchPanel:active, .open>.dropdown-toggle.btn-searchPanel{
  background-color: #fff;
}

.btn-searchPanel.active.focus, .btn-searchPanel.active:focus, .btn-searchPanel.active:hover, .btn-searchPanel:active.focus, .btn-searchPanel:active:focus, .btn-searchPanel:active:hover, .open>.dropdown-toggle.btn-searchPanel.focus, .open>.dropdown-toggle.btn-searchPanel:focus, .open>.dropdown-toggle.btn-searchPanel:hover{
  background-color: #fff;
}

.search-options{
  display:inline-block;
  width: 37px;
  text-align: center;
}

.body-overlay{
  width: 100%;
  height: 100%;
  z-index: 15;
  position: absolute;
  @extend .clickThrough;
}

.logo-img{
  background-image:url('../assets/img/kartverket-attribution.png');
  width:22px;
  height: 32px;
  display: block;
  top: 0;
  position: absolute;
  margin: 15px 15px 15px 28px;
}

.logo-text{
  font-size: 22px;
  width:22px;
  height: 32px;
  display: block;
  top: 0;
  position: absolute;
  left:62px;
  margin-top: 22px;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: #3C8398;
  border-color: #3C8398;
}

.pagination>li>a, .pagination>li>span{
  background-color: #3C8398;
  border-color: #3C8398;
}

/* align glyph */
.left-addon .left-side  { left:  0px;}
.right-addon .right-side { right: 32px;}
.right-addon .absolute-right-side { right: 0px;}

.left-addon .ajax-loader-search  { left:  0px;}
.right-addon .ajax-loader-search { right: 32px; top: 4px;}

/* add padding  */
.left-addon input  { padding-left:  50px; }
.right-addon input { padding-right: 80px; }


@import "dropdownmenu";
@import "icomoon";
@import "fontawesome";
@import "vectoricon";
@import "sidenav";
@import "mobile";
@import "materialicons";
@import "octicons";
@import "flaticon";