@media screen and (max-device-width: 736px){
  .search-bar-overlay{
    z-index: 13;
    position: relative;
    top: 0;
    left: 0;
    margin:7px;
  }

  .search-content{
    max-height: 80%;
  }

  .field-group{
    input{
      min-width: 0;
      width: 100%;
    }
  }

  .col-xs-11{
    width: 88.666%;
  }

  .logo-overlay{
    bottom: 10px;
  }

  .ol-zoom{
    bottom: 10px;
    top: inherit!important;
  }

  .nextbtn{
    right: 0!important;
  }

  .backbtn{
    margin-right: 0!important;
  }

  .sidenav .closebtn span:first-child{
    left:31px!important;
  }


}