@media screen and (max-device-width: 736px){
  .search-bar-overlay{
    z-index: 13;
    position: relative;
    top: 0;
    left: 0;
    margin:7px;
  }

  .search-content{
    max-height: 80%;
  }

  .field-group{
    input{
      min-width: 0;
      width: 100%;
    }
  }

  .col-xs-11{
    width: 88.666%;
  }

  .logo-overlay{
    bottom: 10px;
  }

  .ol-zoom{
    bottom: 10px;
    top: inherit!important;
  }

  .nextbtn{
    right: 0!important;
  }

  .backbtn{
    margin-right: 0!important;
  }

  .sidenav .closebtn span:first-child{
    left:31px!important;
  }

  .logo-kartverket{
    background-image:url('../assets/img/kartverket-attribution.svg');
    width: 70%;
    height: 0;
    background-size: cover;
    padding: 0;
    padding-bottom: calc(70% * 3/2.07);
    margin-left: 10px;
  }

  .text-kartverket {
    font-size: 13px;
  }

  .search-content .new-section{
    margin-top: 10px;
  }
  .search-content .btn{
    padding: 2px 6px;
  }

  .search-content .btn-same-size{
    button{
      width: 30px;
      margin-left: 5px;
    }
    button:first-child{
      margin-left: 0;
    }
  }

  .navigation-button button{
    margin-left: 3px;
  }

  .moveableOverlay{
    left: 0!important;
    right: 0!important;
    top: 0!important;
    bottom: 0!important;

    -webkit-overflow-scrolling:touch;

    .panel-group{
      padding: 0;
    }

    & > div,
    .overlayContent{
      //height: 100%;
    }
  }

  .sidenav .closebtn{
    right: 17px!important;
  }

  .moveableOverlay{
    width: 100% !important;
    min-width: 0!important;
  }
  .movemenu{
    width: 100%!important;
  }

  .draw-content .dropdown{
    min-width: 98px;
  }

  .dropdown-search{
    width: 110px;
  }

}