/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 16; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav li {
  //padding: 8px 8px 8px 32px;
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
  transition: 0.3s;
  span:first-child{
    margin-right: 10px;
  }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 16px;
  margin-left: 50px;
  margin-top: 17px;
  span:first-child{
    left:14px;
  }
  cursor: pointer;
}

.backbtn{
  font-size: 14px;
  float: right;
  //right: 26px;
  right: 16px;
  padding-top: 2px;
}



.sidenav-group{
  border-top: 1px solid #cccccc ;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  li:hover{
    background-color: lightgray;
    color: #000;
  }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
//#main {
//  transition: margin-left .5s;
//  padding: 20px;
//}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}