///*Slider bar start*/
//
//input[type=range] {
//  -webkit-appearance: none;
//  margin: 3px;
//  width: 100%;
//  padding-top: 3px!important;
//  padding-bottom: 3px!important;
//}
//input[type=range]:focus {
//  outline: none;
//}
//input[type=range]::-webkit-slider-runnable-track {
//  width: 100%;
//  height: 2.4px;
//  cursor: pointer;
//  animate: 0.2s;
//  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//  background: lightgray;
//  border-radius: 1.3px;
//  border: 0.2px solid #010101;
//}
//input[type=range]::-webkit-slider-thumb {
//  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//  border: 1px solid #000000;
//  height: 12px;
//  width: 20px;
//  border-radius: 3px;
//  background: black;
//  cursor: pointer;
//  -webkit-appearance: none;
//  margin-top: -4px;
//}
//input[type=range]:focus::-webkit-slider-runnable-track {
//  background: lightgray;
//}
//input[type=range]::-moz-range-track {
//  width: 100%;
//  height: 2.4px;
//  cursor: pointer;
//  animate: 0.2s;
//  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//  background: lightgray;
//  border-radius: 1.3px;
//  border: 0.2px solid #010101;
//}
//input[type=range]::-moz-range-thumb {
//  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//  border: 1px solid #000000;
//  height: 36px;
//  width: 16px;
//  border-radius: 3px;
//  background: black;
//  cursor: pointer;
//}
//input[type=range]::-ms-track {
//  width: 100%;
//  height: 2.4px;
//  cursor: pointer;
//  animate: 0.2s;
//  background: transparent;
//  border-color: transparent;
//  border-width: 16px 0;
//  color: transparent;
//}
//input[type=range]::-ms-fill-lower {
//  background: grey;
//  border: 0.2px solid lightgray;
//  border-radius: 2.6px;
//  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//}
//input[type=range]::-ms-fill-upper {
//  background: lightgray;
//  border: 0.2px solid lightgray;
//  border-radius: 2.6px;
//  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//}
//input[type=range]::-ms-thumb {
//  //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//  border: 1px solid #000000;
//  height: 12px;
//  width: 20px;
//  border-radius: 3px;
//  background: black;
//  cursor: pointer;
//}
//input[type=range]:focus::-ms-fill-lower {
//  background: grey;
//}
//input[type=range]:focus::-ms-fill-upper {
//  background: lightgray;
//}
//
///*Slider bar end*/