<div class="panel-body" data-ng-show="!expandMenu.open">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="myElevationTabs">
        <li role="presentation" class="active"><a href data-target="#shareOnline" aria-controls="shareOnline" role="tab" data-toggle="tab" translate="shareOnline_txt"></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content search-content">
        <div role="tabpanel" class="tab-pane active" id="shareOnline">
            <div class="new-section row">
                <div class="col-xs-6">
                    <div data-ng-click="getFacebookUrl()" class="pointer-cursor">
                        <span class="fa fa-facebook-official"></span>
                        <span translate="facebook_txt"></span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div data-ng-click="getTwitterUrl()" class="pointer-cursor">
                        <span class="fa fa-twitter"></span>
                        <span translate="twitter_txt"></span>
                    </div>
                </div>
            </div>
            <div class="new-section row">
                <div class="col-xs-12">
                    <div data-ng-click="getMailUrl()" class="pointer-cursor">
                        <span class="fa fa-envelope"></span>
                        <span translate="email_txt"></span>
                    </div>
                </div>
            </div>
            <div class="new-section row">
                <div class="col-xs-12">
                    <div class="title-text">
                        <span translate="copyLink_txt"></span>
                    </div>
                    <input type="text" class="full-width" data-ng-disabled="true" placeholder="{{getAbsoluteUrl()}}"/>
                </div>
            </div>
            <div class="new-section pull-right">
                <button class="btn btn-default btn-important" data-ng-click="copyURL()" translate="copy_txt"></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="navigation-button pull-right">
                <button class="btn btn-default btn-ordinary"
                        data-ng-click="closeOverlay()" translate="Cancel_txt">
                </button>
            </div>
        </div>
    </div>
</div>
