<div class="inner-addon right-addon">
    <input type="text" ng-change="searchBarValueChanged()" ng-model="searchBarModel" name="searchBarName" id="searchBarId" />
    <i ng-show="searchResults != undefined" class="glyphicon glyphicon-remove" data-ng-click="cleanResults()"></i>
</div>
<div class="panel">
    <div class="content no-border">
        <div class="content" ng-show="searchResults != undefined">
            <ul>
                <li
                    class="pointer-cursor"
                    ng-repeat="searchResult in searchResults"
                    ng-class="{'searchbar-hover': hover}"
                    ng-mouseenter="hover = true"
                    ng-mouseleave="hover = false"
                    ng-mousedown="mouseDown(searchResult)"
                    ng-mouseover="mouseOver(searchResult)">
                    <span ng-bind="searchResult.name + ' ' + searchResult.kommune" ></span>
                </li>
            </ul>
        </div>
    </div>
</div>
