<input type="text" ng-change="searchBarValueChanged()" ng-model="searchBarModel" name="searchBarName" id="searchBarId">
<div class="panel">
    <div class="content no-border">
        <div class="content" ng-show="searchResults != undefined && searchResults.length != 0">
            <ul>
                <li class="pointer-cursor" ng-repeat="searchResult in searchResults">
                    <span ng-bind="searchResult.name + ' ' + searchResult.kommune"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
