<div class="field-group">
<div class="inner-addon left-addon right-addon">
    <input type="text" ng-change="searchBarValueChanged()" ng-model="searchBarModel" name="searchBarName" id="searchBarId" placeholder="Søk Norgeskart" />
    <i class="left-side glyphicon glyphicon-menu-hamburger"></i>
    <i ng-show="searchResults != undefined" class="right-side glyphicon glyphicon-remove" data-ng-click="cleanResults()"></i>
    <i class="absolute-right-side glyphicon glyphicon-search"></i>
</div>
</div>
<div class="panel" ng-show="searchResults != undefined">
    <div class="content no-border">
        <div class="content">
            <ul>
                <li
                    class="pointer-cursor"
                    ng-repeat="searchResult in searchResults"
                    ng-class="{'searchbar-hover': hover}"
                    ng-mouseenter="hover = true"
                    ng-mouseleave="hover = false"
                    ng-mousedown="mouseDown(searchResult)"
                    ng-mouseover="mouseOver(searchResult)">
                    <span ng-bind="searchResult.name + ' ' + searchResult.kommune" ></span>
                </li>
            </ul>
        </div>
    </div>
</div>
