<div class="search-panel" data-ng-controller="searchKoordTransPanelController">
    <div class="header">
        <div class="row">
            <div class="col-xs-12">
                <span class="header-icon icon-important" data-ng-class="searchOptionsDict['koordTrans'].icon.value"></span>
                <span translate="Coordinates_text"></span>
                <div class="closebtn" data-ng-click="showSearchOptionsPanel()">
                    <span class="glyphicon glyphicon-menu-right"></span>
                    <span class="glyphicon glyphicon-menu-left"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="search-content">
        <div class="row">
            <div class="col-xs-2">
                <span class="info-text" translate="North_text"></span>
            </div>
            <div class="col-xs-5 info-text">
                <span data-ng-bind="activePosition.transLat"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <span class="info-text" translate="East_text"></span>
            </div>
            <div class="col-xs-5 info-text">
                <span data-ng-bind="activePosition.transLon"></span>
            </div>
        </div>

        <div class="new-section">
            <div class="row">
                <div class="col-xs-12">
                    <input type="checkbox" data-ng-click="generateCoordinateSystems()" ng-model="showAdvancedCoordinateSystems"/>
                    <span translate="ShowAdvancedCoordinateSystems_text"></span>
                </div>
            </div>
        </div>

        <div class="new-section">
            <div class="row">
                <div class="col-xs-12">
                    <div class="dropdown">
                        <button class="btn btn-default btn-searchPanel dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span translate="{{getActiveCoorSystem()}}"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-relative" aria-labelledby="dropdownMenu2">
                            <li data-ng-repeat="(key, value) in coordinateSystems" data-ng-click="_fetchKoordTrans(key); $event.stopPropagation();" class="pointer-cursor">
                                <!--<span data-ng-bind="coordinateSystems[key]"></span>--->
                                <span translate="{{coordinateSystems[key]}}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="new-section navigation-button pull-right">
            <button class="btn btn-default btn-ordinary"
                    data-ng-click="showSearchOptionsPanel()" translate="Cancel_txt">
            </button>
        </div>
    </div>
</div>
