<div class="search-panel" ng-show="searchResults != undefined" ng-controller="searchOptionsPanelController">
    <div class="search-content">
        <div class="info-text">
            <div>
                <span ng-if="activeSearchResult.source != 'mouseClick'" translate="{{sourceDict[activeSearchResult.source]}}"></span>
                <span ng-if="activeSearchResult.kommune!=''">
                    <span> </span>
                    <span translate="In"></span>
                    <span> {{activeSearchResult.kommune}} </span>
                    <span translate="Municipality"></span>
                </span>

            </div>
            <div ng-show="searchOptionsDict['elevationPoint'].text.value">
                <span translate="HeightEstimatedByInterpolation_text"></span>
                <span ng-class="searchOptionsDict['elevationPoint'].text.class" ng-bind="searchOptionsDict['elevationPoint'].text.value"></span>
                <span translate="MetersAboveSeaLevel"></span>
            </div>
        </div>
        <h4 translate="WhatDoYouWantToDo_text"></h4>
        <ul>
            <li data-ng-repeat="searchOption in searchOptionsOrder" ng-mousedown="mouseDown(searchOptionsDict[searchOption])">
                <span ng-class="searchOptionsDict[searchOption].icon.class" ng-bind="searchOptionsDict[searchOption].icon.value"></span>
                <span ng-class="searchOptionsDict[searchOption].text.class" translate="{{searchOptionsDict[searchOption].name}}"></span>
                <span ng-if="searchOptionsDict[searchOption].name=='seEiendom' || searchOptionsDict[searchOption].name=='ssrFakta'" ng-bind="searchOptionsDict[searchOption].text.value"></span>
            </li>
        </ul>
        <div map-get-features></div>
    </div>
</div>