<!--<div moveable-overlay class="moveable-overlay" ng-hide="true">-->
<!--<div map-get-features></div>-->
<!--</div>-->
<div moveable-overlay class="moveableOverlay" data-ng-show="menuDrawShow()">
    <div menu-draw class="drawmenu overlayContent"></div>
</div>
<div main-menu-overlay></div>
<div search-bar-overlay></div>
<!--<div ng-switch="mapOverlaysLayout">-->
    <!--<div ng-switch-when="searchPanelLayout" search-panel class="search-bar-overlay"></div>-->
        <!--&lt;!&ndash;<div search-panel></div>&ndash;&gt;-->
    <!--<div ng-switch-when="mainMenuPanelLayout" main-menu-panel class="main-menu-panel"></div>-->
<!--</div>-->
