<li class="list-group-item">
  <label ng-click="handle($event)">
    <span class='fa' ng-class=" (member.Name || member.title) ? ( member.isLayerActive ? 'fa-check-square-o' : 'fa-square-o' ) : '' "></span>
    {{member.Title || member.title}}
  </label>
  <label class='width-100 text-right small' ng-click="showInfo($event)" ng-hide="!member.legend">
    <i class='fa fa-caret-down' ng-if='!member.showInfo && member.Name' />
    <i class='fa fa-caret-up' ng-if='member.showInfo && member.Name' />
    <span translate ng-if="!member.showInfo && member.Name">{{'showLegend' | translate}}</span>
    <span translate ng-if="member.showInfo && member.Name">{{'hideLegend' | translate}}</span>
    </label>
  <div class="details width-100" ng-init="member.showInfo = false" ng-show="member.showInfo">
    <p>
      <img ng-src="{{member.legend}}" />
    </p>
  </div>
  <div id="spinner1" class="details width-100" data-ng-show="showSpinner">
    <div class="spinner-loader" style="font-size: 10px; color:black; left:95%; margin-top: -20px;">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
  </div>
<!--ToDo: add Opacity slide -->
  <!--
  <div class="" title="{{'opacity' | translate}}">
    <label data-translate="">setOpacity</label>
    <input class="" type="range" min="0" max="1" step="0.05" ng-model="member.opacity" />
  </div>
  -->
</li>
