<div class="breadcrumbs">
    <span class="vectoricon-Point pointer-cursor" data-ng-click="drawPoint()"></span>
    <span class="vectoricon-Polyline3 pointer-cursor" data-ng-click="drawLine()"></span>
    <span class="vectoricon-Polygon2 pointer-cursor" data-ng-click="drawPolygon()"></span>
</div>
<div class="test-link pointer-cursor">
    <span data-ng-click="calculateElevationProfile()">Høydeprofil</span>
    <a data-ng-show="elevationImage !== undefined" target="_blank" data-ng-href="{{elevationImage}}">: Vis høydeprofil</a>
</div>
<div class="test-link pointer-cursor">
    <span data-ng-click="generateEmergencyPoster()">Nødplakat</span>
</div>
