<div class="search-panel" ng-show="searchResults != undefined">
    <div class="header">
        <div class="row">
            <div class="col-xs-8">
                <span class="header-icon icon-important" data-ng-class="searchOptionsDict['lagNodplakat'].icon.value"></span>
                <span translate="lagNodplakat"></span>
            </div>
            <div class="col-xs-4">
                <div class="closebtn" data-ng-click="showSearchOptionsPanel()">
                    <span class="glyphicon glyphicon-menu-right"></span>
                    <span class="glyphicon glyphicon-menu-left"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="search-content">

        <iframe id="emergencyPoster" ng-src="{{generateEmergancyPoster()}}"
                width="377px"
                height="570px"></iframe>
        <div class="new-section">
            <button class="btn btn-default btn-ordinary navigation-button pull-left" data-ng-click="showLagNodplakatPage2()" translate="Back">
            </button>
            <button class="btn btn-default btn-important navigation-button pull-right" data-ng-click="printIframe()" translate="Print">
            </button>
            <button class="btn btn-default btn-ordinary navigation-button pull-right"
                    data-ng-click="showSearchOptionsPanel()" translate="Cancel_txt">
            </button>
        </div>

    </div>
</div>
