<div class="search-panel" ng-show="searchResults != undefined">
    <div class="search-content">
        <div class="header">
            <h4 class="no-top title">{{searchOptionsDict['lagNodplakat'].icon.value}} Nødplakat</h4>
            <div class="backbtn" data-ng-click="showSearchOptionsPanel()">
                <span class="glyphicon glyphicon-menu-left"></span>
            </div>
        </div>

        <iframe id="emergencyPoster" ng-src="{{generateEmergancyPoster()}}"
                width="380px"
                height="570"></iframe>
        <button class="btn btn-default btn-content pull-left"  data-ng-click="showLagNodplakatPage2()">
            < Forrige
        </button>
        <button class="btn btn-default btn-content pull-right"  data-ng-click="printIframe()">
            Skriv ut
        </button>
    </div>
</div>
