<div class="sidenav-group">
    <ul>
        <li tabindex="0" ng-keypress="showMainMenuSections()" data-ng-click="showMainMenuSections()">
            <div class="sidenav-header-text row">
                <div class="col-xs-1">
                    <span class="icon-toggle-on fa fa-map"></span>
                </div>
                <div class="col-xs-11">
                    <span class="text-uppercase"><span translate="bakgrunnskart"></span>:</span>
                    <span translate="{{getSelectedBaseLayerName()}}"></span>
                    <div class="backbtn">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="sidenav-group">
    <ul>
        <li tabindex="0" class="sidenav-sections" data-ng-repeat="baseLayer in baseLayers | filter: {name: '!!' }" ng-keypress="setAsBaseLayer(baseLayer)" data-ng-click="setAsBaseLayer(baseLayer)">
            <div class="row">
                <div class="col-xs-1">
                    <span data-ng-class="getBaseLayerStyle(baseLayer)"></span>
                </div>
                <div class="col-xs-11">
                    <span translate="{{baseLayer.name}}"></span>
                </div>
            </div>
        </li>
    </ul>
</div>
