<ul class="sidenav-group">
    <li data-ng-click="showMainMenuSections();deactivateDrawFeature(); addResultsToMap();">
        <span class="fa fa-pencil"></span>
        <span translate="MeasureAndDraw_title"></span>
        <div class="backbtn">
            <span class="glyphicon glyphicon-menu-left"></span>
        </div>
    </li>
</ul>

<ul class="sidenav-group">
    <li data-ng-click="drawFeature('Point')">
        <span class="fa fa-pencil"></span>
        <span>Punkt</span>
    </li>
    <li data-ng-click="drawFeature('LineString')">
        <span class="fa fa-pencil"></span>
        <span>Linje</span>
    </li>
    <li data-ng-click="drawFeature('Polygon')">
        <span class="fa fa-pencil"></span>
        <span>Område</span>
    </li>
    <li data-ng-click="measureLine()">
        <span class="flaticon-tool292"></span>
        <span translate="MeasureLine_title"></span>
    </li>
    <li data-ng-click="measurePolygon()">
        <span class="flaticon-triangular43"></span>
        <span translate="Measure_title"></span>
    </li>
    <button data-ng-click="snapButtonClick()">Snap</button>
</ul>


