<ul class="sidenav-group">
    <li data-ng-click="showMainMenuSections();deactivateDrawFeature(); addResultsToMap();">
        <span class="fa fa-pencil"></span>
        <span translate="MeasureAndDraw_title"></span>
        <div class="backbtn">
            <span class="glyphicon glyphicon-menu-left"></span>
        </div>
    </li>
</ul>

<ul class="sidenav-group">
    <li>
        <span>Geometritype</span>
       <select ng-model="type"  ng-options="o for o in geometryTypes" ng-change="drawButtonClick()"></select>
    </li>
    <li>
        <span>Farge</span>
        <input type="color" ng-model="color" ng-change="setColor()"/>
    </li>
    <li ng-show="type=='Point'">
        <span>Radius</span>
        <input  type="number" min="0" max="100" ng-model="pointRadius" ng-change="drawButtonClick()"/>
    </li>
    <li ng-show="type=='LineString'">
        <span>Bredde</span>
        <input type="number" min="0" max="100" ng-model="lineWidth" ng-change="drawButtonClick()"/>
        <br/>
        <span>Lengde</span>
        <input type="number" min="0" max="100" ng-model="lineLength" ng-change="drawButtonClick()"/>
        <br/>
        <span>Mellomrom</span>
        <input type="number" min="0" max="100" ng-model="lineSpace" ng-change="drawButtonClick()"/>
    </li>
    <li ng-show="type=='Polygon'" >
        <span>Synlighet</span>
        <input type="number" min="0" max="100" ng-model="fillAlpha" ng-change="drawButtonClick()"/>
    </li>
    <li data-ng-click="measureLine()">
        <span class="flaticon-tool292"></span>
        <span translate="MeasureLine_title"></span>
    </li>
    <li data-ng-click="measurePolygon()">
        <span class="flaticon-triangular43"></span>
        <span translate="Measure_title"></span>
    </li>

    <button data-ng-click="newButtonClick()">Ny</button>
    <button data-ng-click="undoButtonClick()">Angre</button>
    <br/>
    <button data-ng-click="downloadButtonClick()">Last ned</button>
    <button data-ng-click="saveButtonClick()">Lagre</button>
    <br/>
    <span>Aktiv Modus:</span><span data-ng-bind="mode"></span>
    <br/>
    <button data-ng-click="modifyButtonClick()">Endre</button>
    <button data-ng-click="drawButtonClick()">Tegne</button>
    <button data-ng-click="selectButtonClick()">Velg</button>
    <br/>
    <input type="checkbox" ng-model="snap" ng-change="activateDrawFeatureTool()"><span>Snap</span>
</ul>
