<ul class="sidenav-group">
    <li data-ng-click="showMainMenuSections();deactivateDrawFeature(); addResultsToMap();">
        <span class="fa fa-pencil"></span>
        <span translate="MeasureAndDraw_title"></span>
        <div class="backbtn">
            <span class="glyphicon glyphicon-menu-left"></span>
        </div>
    </li>
</ul>

<ul class="sidenav-group">
    <li data-ng-click="drawFeature('Point')">
        <span class="fa fa-pencil"></span>
        <span>Punkt</span>
    </li>
    <li data-ng-click="drawFeature('LineString')">
        <span class="fa fa-pencil"></span>
        <span>Linje</span>
    </li>
    <li data-ng-click="drawFeature('Polygon')">
        <span class="fa fa-pencil"></span>
        <span>Område</span>
    </li>
    <li data-ng-click="measureLine()">
        <span class="flaticon-tool292"></span>
        <span translate="MeasureLine_title"></span>
    </li>
    <li data-ng-click="measurePolygon()">
        <span class="flaticon-triangular43"></span>
        <span translate="Measure_title"></span>
    </li>

    <button data-ng-click="newButtonClick()">Ny</button>
    <button data-ng-click="undoButtonClick()">Angre</button>
    <br/>
    <button data-ng-click="downloadButtonClick()">Last ned</button>
    <button data-ng-click="saveButtonClick()">Lagre</button>
    <br/>
    <h3>Aktiv Modus:</h3><span data-ng-bind="mode"></span>
    <br/>
    <button data-ng-click="modifyButtonClick()">Endre</button>
    <button data-ng-click="drawButtonClick()">Tegne</button>
    <button data-ng-click="selectButtonClick()">Velg</button>
    <br/>
    <button data-ng-click="snapButtonClick()">Snap</button>
    <br/>
    <input type="color" ng-model="color" ng-change="setColor()"/><span>Farge</span>
    <br/>
    <div ng-show="type=='Point'">
        <input  type="number" ng-model="pointRadius" ng-change="activateDrawFeatureTool()"/><span>Punktstørrelse</span>
    </div>
    <div ng-show="type=='LineString'">
        <input type=number" ng-model="lineWidth" ng-change="activateDrawFeatureTool()"/><span>Linjebredde</span>
    </div>
    <div ng-show="type=='Polygon'" >
        <input type="number" max="100" min="0" ng-model="fillAlpha" ng-change="activateDrawFeatureTool()"/><span>Synlighet Område</span>
    </div>
</ul>
