<div class="panel-body">
    <div>
        <!--<button data-ng-repeat="geometryType in geometryTypes" data-ng-click="switchType(geometryType)">{{geometryType}}</button>-->
        <!--<button data-ng-click="switchMode('modify')">Rediger</button>-->
        <button type="button" class="btn btn-default btn-content" data-ng-repeat="geometryType in geometryTypes" data-ng-click="switchType(geometryType)">{{geometryType}}</button>
        <button type="button" class="btn btn-default btn-content pull-right" data-ng-click="switchMode('modify')">Rediger</button>
    </div>


    <div class="content">
        <div class="row no-margin">
            <div class="col-xs-3">
                <span class="lineWithButton">Farge</span>
            </div>
            <div class="col-xs-9 no-padding">
                <button type="button" class="btn btn-default btn-color-picker" ng-model="color" data-ng-click="setColor(val)" data-ng-repeat="(key, val) in colors" style="background-color:{{key}};border: none;font-size:1;line-height:9">clr</button>
            </div>
        </div>
    </div>

    <div data-ng-show="type=='Point'">
        <div class="section-content">
            <div class="row no-margin">
                <div class="col-xs-3">
                    <span class="lineWithDefaultButton">Symbol</span>
                </div>
                <div class="col-xs-9 no-padding">
                    <button type="button" class="btn btn-default" data-ng-click="switchSymbol('Circle')">●</button>
                    <button type="button" class="btn btn-default" data-ng-click="switchSymbol('Triangle')">▲</button>
                    <button type="button" class="btn btn-default" data-ng-click="switchSymbol('Diamond')">♦</button>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row no-margin">
                <div class="col-xs-3">
                    <span class="lineWithButton">Størrelse</span>
                </div>
                <div class="col-xs-9 no-padding">
                    <input type="number" min="1" max="100" ng-model="pointRadius" ng-change="activateDrawFeatureTool()"/>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="type=='LineString'">
        <div class="section-content">
            <div class="row no-margin">
                <div class="col-xs-3">
                    <span class="lineWithButton">Bredde</span>
                </div>
                <div class="col-xs-9 no-padding">
                    <input type="number" min="0" max="100" ng-model="lineWidth" ng-change="activateDrawFeatureTool()"/>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row no-margin">
                <div class="col-xs-3">
                    <span class="lineWithButton">Lengde</span>
                </div>
                <div class="col-xs-9 no-padding">
                    <input type="number" min="0" max="100" ng-model="lineLength" ng-change="activateDrawFeatureTool()"/>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row no-margin">
                <div class="col-xs-3">
                    <span class="lineWithButton">Mellomrom</span>
                </div>
                <div class="col-xs-9 no-padding">
                    <input type="number" min="0" max="100" ng-model="lineSpace" ng-change="activateDrawFeatureTool()"/>
                </div>
            </div>
        </div>
    </div>

    <div class="content" ng-show="type=='Polygon'">
        <div class="row no-margin">
            <div class="col-xs-5">
                <span class="lineWithButton">Gjennomsiktighet</span>
            </div>
            <div class="col-xs-7 no-padding">
                <input type="number" min="0" max="100" ng-model="fillAlpha" ng-change="activateDrawFeatureTool()"/>
            </div>
        </div>
    </div>


    <div ng-show="type=='Text'">
        <div class="section-content">
            <div class="row no-margin">
                <div class="col-xs-3">
                    <span class="lineWithButton">Størrelse</span>
                </div>
                <div class="col-xs-9 no-padding">
                    <input type="number" min="1" max="100" ng-model="fontSize" ng-change="activateDrawFeatureTool()"/>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row no-margin">
                <div class="col-xs-11">
                    <input type="text" ng-model="text" placeholder="Skriv inn tekst her" ng-change="activateDrawFeatureTool()"/>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="col-xs-5 lineWithDefaultButton">
            <span>Snap</span>
            <input type="checkbox" ng-model="snap" ng-change="activateDrawFeatureTool()">
        </div>
        <button type="button" class="btn btn-default btn-content pull-right" data-ng-click="saveButtonClick()">Lagre</button>

        <button type="button" class="btn btn-default btn-content pull-right" ng-show="selectionActive" data-ng-click="deleteButtonClick()">Slett valgt objekt</button>
        <button type="button" class="btn btn-default btn-content pull-right" data-ng-click="newButtonClick()">Slett alle objekter</button>

    </div>
</div>


