<div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" data-ng-class="{navTabsTransparent: expandMenu.open}" role="tablist" id="myTabs">
        <li data-ng-click="switchType('Point')" role="presentation" class="active"><a href data-target="#point" aria-controls="point" role="tab" data-toggle="tab" translate="point_txt"></a></li>
        <li data-ng-click="switchType('LineString')" role="presentation"><a href data-target="#line" aria-controls="line" role="tab" data-toggle="tab" translate="line_txt"></a></li>
        <li data-ng-click="switchType('Polygon')" role="presentation"><a href data-target="#polygon" aria-controls="polygon" role="tab" data-toggle="tab" translate="polygon_txt"></a></li>
        <li data-ng-click="switchType('Text')" role="presentation"><a href data-target="#text" aria-controls="text" role="tab" data-toggle="tab" translate="text_txt"></a></li>
    </ul>
    <!-- Tab panes -->
    <div data-ng-show="!expandMenu.open" class="tab-content search-content">
        <div role="tabpanel" class="tab-pane active" id="point">
            <div class="new-section">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <div class="title-text">
                            <span translate="pointType_txt"></span>
                        </div>
                        <div class="btn-same-size navigation-button">
                            <button type="button" class="btn btn-default btn-toggle" data-ng-class="{activeBtn: pointSymbol==='Circle'}" data-ng-click="switchSymbol('Circle')">●</button>
                            <button type="button" class="btn btn-default btn-toggle" data-ng-class="{activeBtn: pointSymbol==='Triangle'}" data-ng-click="switchSymbol('Triangle')">▲</button>
                            <button type="button" class="btn btn-default btn-toggle" data-ng-class="{activeBtn: pointSymbol==='Diamond'}" data-ng-click="switchSymbol('Diamond')">♦</button>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6 draw-content">
                        <div class="title-text">
                            <span translate="size_txt"></span>
                        </div>
                        <div class="navigation-button btn-same-size">
                            <button type="button" data-ng-repeat="pointRadiusSize in pointRadiusSizes" class="btn btn-default btn-toggle" data-ng-class="{activeBtn: activePointType === pointRadiusSize.sizeType}" data-ng-click="setPointRadiusSize(pointRadiusSize); activateDrawFeatureTool()">
                                <span translate="{{pointRadiusSize.sizeType}}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-section">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-text">
                            <span translate="color_txt"></span>
                        </div>
                        <div class="btn-same-size navigation-button">
                            <button type="button" class="btn btn-default btn-toggle" ng-model="color" data-ng-class="{activeBtn: color === val}" data-ng-click="setColor(val)" data-ng-repeat="(key, val) in colors" >
                                <div class="color-picker" data-ng-style="{'background-color':key, 'border': 'none'}">
                                    <span></span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-section">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="checkbox" ng-model="snap" ng-change="activateDrawFeatureTool()">
                        <span translate="snap_txt"></span>
                    </div>
                </div>
            </div>

            <div class="new-section navigation-button">
                <button class="btn btn-default btn-ordinary" translate="remove_txt" data-ng-disabled="!selectionActive" data-ng-click="deleteButtonClick()">
                </button>
                <button data-ng-show="mode === 'modify'" class="btn btn-default btn-toggle" data-ng-click="switchMode('draw')" data-ng-class="{activeBtn: mode === 'modify'}" translate="change_txt">
                </button>
                <button data-ng-show="mode !== 'modify'" class="btn btn-default btn-toggle" data-ng-click="switchMode('modify')" data-ng-class="{activeBtn: mode === 'modify'}" translate="change_txt">
                </button>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="line">
            <div class="row">
                <div class="col-xs-12">
                    <input type="checkbox" ng-model="showMeasurements" data-ng-change="activateDrawFeatureTool()"/>
                    <span translate="showMeasurements_txt"></span>
                </div>
            </div>
            <div class="new-section">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <div class="title-text">
                            <span translate="lineType_txt"></span>
                        </div>
                        <div class="navigation-button">
                            <button data-ng-repeat="lineType in lineTypes" type="button" class="btn btn-default btn-toggle btn-rectangle-same-size" data-ng-class="{activeBtn: lineType.lineTypeId === activeLineType}" data-ng-click="switchLineType(lineType)" data-ng-bind="lineType.lineType"></button>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6 draw-content">
                        <div class="title-text">
                            <span translate="width_txt"></span>
                        </div>
                        <div class="navigation-button btn-same-size">
                            <button type="button" data-ng-repeat="lineWidthSize in lineWidthSizes" class="btn btn-default btn-toggle" data-ng-class="{activeBtn: activeLineWidthSize === lineWidthSize.lineTypeId}" data-ng-click="setLineWidthSize(lineWidthSize);">
                                <span translate="{{lineWidthSize.sizeType}}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-section">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-text">
                            <span translate="color_txt"></span>
                        </div>
                        <div class="btn-same-size navigation-button">
                            <button type="button" class="btn btn-default btn-toggle" ng-model="color" data-ng-class="{activeBtn: color === val}" data-ng-click="setColor(val)" data-ng-repeat="(key, val) in colors" >
                                <div class="color-picker" data-ng-style="{'background-color':key, 'border': 'none'}">
                                    <span></span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-section">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="checkbox" ng-model="snap" ng-change="activateDrawFeatureTool()">
                        <span translate="snap_txt"></span>
                    </div>
                </div>
            </div>

            <div class="new-section navigation-button">
                <button class="btn btn-default btn-ordinary" translate="remove_txt" data-ng-disabled="!selectionActive" data-ng-click="deleteButtonClick()">
                </button>
                <button data-ng-show="mode === 'modify'" class="btn btn-default btn-toggle" data-ng-click="switchMode('draw')" data-ng-class="{activeBtn: mode === 'modify'}" translate="change_txt">
                </button>
                <button data-ng-show="mode !== 'modify'" class="btn btn-default btn-toggle" data-ng-click="switchMode('modify')" data-ng-class="{activeBtn: mode === 'modify'}" translate="change_txt">
                </button>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="polygon">
            <div class="row">
                <div class="col-xs-12">
                    <input type="checkbox" ng-model="showMeasurements" data-ng-change="activateDrawFeatureTool()"/>
                    <span translate="showMeasurements_txt"></span>
                </div>
            </div>
            <div class="new-section">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-text">
                            <span translate="opacity_txt"></span>
                        </div>
                        <div class="navigation-button">
                            <button type="button" data-ng-repeat="polygonOpacity in polygonOpacities" class="btn btn-default btn-toggle" data-ng-class="{activeBtn: activeOpacityType === polygonOpacity.opacityType}" data-ng-click="setPolygonOpacity(polygonOpacity);">
                                <span translate="{{polygonOpacity.opacityType}}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-section">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-text">
                            <span translate="color_txt"></span>
                        </div>
                        <div class="btn-same-size navigation-button">
                            <button type="button" class="btn btn-default btn-toggle" ng-model="color" data-ng-class="{activeBtn: color === val}" data-ng-click="setColor(val)" data-ng-repeat="(key, val) in colors" >
                                <div class="color-picker" data-ng-style="{'background-color':key, 'border': 'none'}">
                                    <span></span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-section">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="checkbox" ng-model="snap" ng-change="activateDrawFeatureTool()">
                        <span translate="snap_txt"></span>
                    </div>
                </div>
            </div>

            <div class="new-section navigation-button">
                <button class="btn btn-default btn-ordinary" translate="remove_txt" data-ng-disabled="!selectionActive" data-ng-click="deleteButtonClick()">
                </button>
                <button data-ng-show="mode === 'modify'" class="btn btn-default btn-toggle" data-ng-click="switchMode('draw')" data-ng-class="{activeBtn: mode === 'modify'}" translate="change_txt">
                </button>
                <button data-ng-show="mode !== 'modify'" class="btn btn-default btn-toggle" data-ng-click="switchMode('modify')" data-ng-class="{activeBtn: mode === 'modify'}" translate="change_txt">
                </button>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="text">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title-text">
                        <span translate="text_txt_label"></span>
                    </div>
                    <input type="text" ng-model="text" placeholder="Skriv inn tekst her" ng-change="activateDrawFeatureTool()"
                           class="full-width"
                    />
                </div>
            </div>
            <div class="new-section">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-text">
                            <span translate="size_txt"></span>
                        </div>
                        <div class="navigation-button btn-same-size">
                            <button type="button" data-ng-repeat="textHightSize in textHightSizes" class="btn btn-default btn-toggle" data-ng-class="{activeBtn: activeTextHight === textHightSize.textType}" data-ng-click="setTextHight(textHightSize);">
                                <span translate="{{textHightSize.textType}}"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-section">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-text">
                            <span translate="color_txt"></span>
                        </div>
                        <div class="btn-same-size navigation-button">
                            <button type="button" class="btn btn-default btn-toggle" ng-model="color" data-ng-class="{activeBtn: color === val}" data-ng-click="setColor(val)" data-ng-repeat="(key, val) in colors" >
                                <div class="color-picker" data-ng-style="{'background-color':key, 'border': 'none'}">
                                    <span></span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="new-section navigation-button">
                <button class="btn btn-default btn-ordinary" translate="remove_txt" data-ng-disabled="!selectionActive" data-ng-click="deleteButtonClick()">
                </button>
                <button data-ng-show="mode === 'modify'" class="btn btn-default btn-toggle" data-ng-click="switchMode('draw')" data-ng-class="{activeBtn: mode === 'modify'}" translate="change_txt">
                </button>
                <button data-ng-show="mode !== 'modify'" class="btn btn-default btn-toggle" data-ng-click="switchMode('modify')" data-ng-class="{activeBtn: mode === 'modify'}" translate="change_txt">
                </button>
            </div>
        </div>
    </div>

    <div data-ng-show="!expandMenu.open" class="row">
        <div class="col-sm-6">
            <div class="navigation-button">
                <button class="btn btn-default btn-ordinary"
                        data-ng-click="newButtonClick()" translate="empty_txt">
                </button>
                <button class="btn btn-default btn-ordinary" ng-hide="drawingHash == ''"
                        data-ng-click="downloadButtonClick()" translate="download_txt">
                </button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="navigation-button pull-right">
                <button class="btn btn-default btn-ordinary"
                        data-ng-click="closeOverlay()" translate="Cancel_txt">
                </button>
                <button class="btn btn-default btn-important" data-ng-click="saveButtonClick()" translate="save_txt">
                </button>
            </div>
        </div>
    </div>
</div>


