<div class="search-panel" ng-show="searchResults != undefined">
    <div class="header">
        <div class="row">
            <div class="col-xs-10">
                <span class="header-icon icon-important" data-ng-class="searchOptionsDict['lagNodplakat'].icon.value"></span>
                <span translate="lagNodplakat"></span>
            </div>
            <div class="col-xs-2">
                <span data-ng-click="showSearchOptionsPanel()" class="backbtn fa fa-times"></span>
            </div>
        </div>
    </div>
    <div class="search-content">

        <h4 class="no-top" translate="Ansvar"></h4>
        <div class="info-text">
            <span translate="NodplakatText1"></span>
        </div>
        <div class="info-text">
            <span translate="NodplakatText2"></span>
        </div>
        <div class="info-text">
            <span translate="NodplakatText3"></span>
        </div>
        <button type="button" class="btn btn-default btn-content navigation-button pull-right" data-ng-click="showLagNodplakatPage2()">
            <span translate="AcceptAndContinue"></span>
        </button>
    </div>
</div>
