<ul class="sidenav-group">
    <li data-ng-click="showMainMenuSections()">
        <span class="fa fa-code"></span>
        <span translate="UseMapView_title"></span>
        <div class="backbtn">
            <span class="glyphicon glyphicon-menu-left"></span>
        </div>
    </li>
</ul>

<div class="sidenav-group">
    <div class="row sidenav-row">
        <div class="col-xs-1">
            <input ng-change="getIframe()" ng-model="useMarker" type="checkbox" data-ng-disabled="!activePosition">
        </div>
        <div class="col-xs-11">
            <span translate="iframe_useMarker"></span>
        </div>
    </div>
    <div class="row sidenav-row">
        <div class="col-xs-12">
            <input class="row-input" ng-change="getIframe()" ng-model="shortDescription" type="text" placeholder="{{'iframe_shortDesc' | translate}}">
        </div>
    </div>
    <div class="row sidenav-row">
        <div class="col-xs-12">
            <input class="row-input" ng-change="getIframe()" ng-model="longDescription" type="text" placeholder="{{'iframe_longDesc' | translate}}">
        </div>
    </div>
    <div class="row sidenav-row">
        <div class="col-xs-12">
            <textarea readonly ng-model="iframe" rows="10"></textarea>
        </div>
    </div>

</div>