<ul class="sidenav-group">
    <li data-ng-click="showMainMenuSections()">
        <span class="fa fa-code"></span>
        <span translate="UseMapView_title"></span>
        <div class="backbtn">
            <span class="glyphicon glyphicon-menu-left"></span>
        </div>
    </li>
</ul>

<div>
    <!--<input ng-model="navigable" type="checkbox"><span>Navigerbar</span>-->
    <!--<br/>-->
    <!--<input ng-model="showTools" type="checkbox"><span>Vis verktøy</span>-->
    <!--<br/>-->
    <input ng-change="getIframe()" ng-model="useMarker" type="checkbox" data-ng-disabled="!activePosition"><span translate="iframe_useMarker"></span>
    <br/>
    <input ng-change="getIframe()" ng-model="shortDescription" type="text" placeholder="{{'iframe_shortDesc' | translate}}">
    <br/>
    <input ng-change="getIframe()" ng-model="longDescription" type="text" placeholder="{{'iframe_longDesc' | translate}}">
    <br/>
    <textarea readonly ng-model="iframe" cols="45" rows="10"></textarea>
</div>