<div class="panel-body">
    <div class="search-content">
        <img class="scale-image pointer-cursor" ng-src="{{getElevationImage()}}" data-ng-click="showImage()">
    </div>
    <div class="navigation-button pull-right">
        <button class="btn btn-default btn-ordinary"
                data-ng-click="closeOverlay()" translate="Cancel_txt">
        </button>
        <button class="btn btn-default btn-important" data-ng-click="downloadImage()" translate="download_txt">
        </button>
    </div>
</div>

