<div class="panel-body">
    <div class="search-content">
        <img class="scale-image" ng-src="{{getElevationImage()}}">


    </div>
    <div class="navigation-button pull-right">
        <button class="btn btn-default btn-ordinary"
                data-ng-click="closeOverlay()" translate="Cancel_txt">
        </button>
        <button class="btn btn-default btn-important" data-ng-click="downloadImage()" translate="download_txt">
        </button>
    </div>
</div>

<!--<div class="scale-image">-->
<!--<img id="elevationImage">-->
<!--</div>-->



<!--<span>Page 2</span>-->
<!--<div>-->
    <!--<span data-ng-click="showElevationProfilePage1()">Go to page 1</span>-->
<!--</div>-->

