<div id="mySidenav" class="sidenav">

    <h3 class="logo-img"></h3>
    <h3 class="logo-text">Norgeskart</h3>
    <a class="closebtn" data-ng-click="closeNav()">
        <span class="glyphicon glyphicon-menu-left"></span>
        <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <!--<a href="javascript:void(0)" class="closebtn glyphicon glyphicon-menu-left" ng-click="closeNav()"></a>-->

    <ul class="sidenav-group">
        <li>
            <span class="icon-map2"></span>
            <span>Bakgrunnskart</span>
            <span class="backbtn glyphicon glyphicon-menu-right"></span>
        </li>
    </ul>

    <ul class="sidenav-group">
        <li>
            <span class="material-icons">terrain</span>
            <span>Friluft</span>
            <span class="backbtn glyphicon glyphicon-menu-right"></span>
        </li>
        <li>
            <span class="fa fa-map-signs"></span>
            <span>Stedsnavn</span>
            <span class="backbtn glyphicon glyphicon-menu-right"></span>
        </li>
        <li>
            <span class="fa fa-wheelchair"></span>
            <span>Tilgjengelight</span>
            <span class="backbtn glyphicon glyphicon-menu-right"></span>
        </li>
        <li>
            <span class="material-icons">nature</span>
            <span>Fastmerker</span>
            <span class="backbtn glyphicon glyphicon-menu-right"></span>
        </li>
        <li>
            <span class="icon-airplane"></span>
            <span>Luftfartshindre</span>
            <span class="backbtn glyphicon glyphicon-menu-right"></span>
        </li>
    </ul>

    <div tool-main-menu></div>

    <ul class="sidenav-group">
        <li>
            <span class="glyphicon glyphicon-question-sign"></span>
            <span>Ofte stilte spørsmål</span>
        </li>
    </ul>


    <!--<div class="sidenav-group">-->
        <!--<span>About</span>-->
        <!--<span>Services</span>-->
        <!--<span>Clients</span>-->
        <!--<span>Contact</span>-->
    <!--</div>-->

    <!--<div class="sidenav-group">-->
        <!--<span>About</span>-->
        <!--<span>Services</span>-->
        <!--<span>Clients</span>-->
        <!--<span>Contact</span>-->
    <!--</div>-->


</div>


