<div id="mySidenav" class="sidenav">
    <div id="sideMenuPosition" class="side-menu-position">
        <div class="norgeskart-logo">
            <button class="close" data-ng-click="closeNav(); removeInfomarkers(); addResultsToMap(); showMainMenuSections()" type="button">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <h1>
                <a data-ng-click="resetApplication($event)" href=".">
                    <img alt="" class="norgeskart-logo-image" src="assets/img/Ikon_Kart_Norge_org36.png">
                    Norgeskart
                </a>
            </h1>
        </div>



        <div ng-switch="mainMenuPanelLayout">
            <div ng-switch-when="mainMenuSections" main-menu-sections></div>
            <div ng-switch-when="mainMenuBaseLayers" main-menu-base-layers></div>
            <div ng-switch-when="mainMenuGroupLayers" main-menu-group-layers></div>
            <div ng-switch-when="mainMenuFaq" main-menu-faq></div>
            <div ng-switch-when="mainMenuContact" main-menu-contact></div>
        </div>
    </div>
</div>



