<div class="search-panel" ng-show="searchResults != undefined">
    <div id="spinner1" class="serach-loading-overlay" data-ng-show="showSpinner">
        <div class="spinner-loader"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
    </div>
    <div class="header">
        <div class="row">
            <div class="col-xs-12">
                <span class="header-icon icon-important" data-ng-class="searchOptionsDict['lagTurkart'].icon.value"></span>
                <span translate="Turkart_title"></span>
                <div class="pull-right">
                    <div class="hide-button" data-ng-click="turMap.open = !turMap.open">
                        <span data-ng-show="!turMap.open" class="glyphicon glyphicon-menu-up"></span>
                        <span data-ng-show="turMap.open" class="glyphicon glyphicon-menu-down"></span>
                    </div>
                    <div class="closebtn" data-ng-click="deactivatePrintBoxSelect(); showSearchOptionsPanel()">
                        <span class="glyphicon glyphicon-menu-right"></span>
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-content" data-ng-show="!turMap.open">
        <div class="info-text">
            <span translate="Turkart_info"></span>
        </div>
        <div class="new-section">
            <div class="title-text">
                <span translate="Scale"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="dropdown">
                        <button class="btn btn-default btn-searchPanel dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span data-ng-bind="scales[scale]"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-relative" aria-labelledby="dropdownMenu2">
                            <li data-ng-repeat="(key, value) in scales" data-ng-click="applyScale(key); $event.stopPropagation();" class="pointer-cursor">
                                <span data-ng-bind="scales[key]"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-section">
            <div class="title-text">
                <span translate="Turkart_navn"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="text"
                           placeholder="{{'Turkart_navn_eks' | translate}}"
                           ng-model="tittel"
                           ng-disabled="!createMapButtonOn"
                           class="full-width"
                    />
                </div>
            </div>
        </div>
        <div class="new-section">
            <div class="row">
                <div class="col-xs-12">
                    <input type="checkbox" ng-model="showTrips" ng-disabled="!createMapButtonOn"/>
                    <span translate="FremhevMerkedeStier"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input type="checkbox" ng-model="showLegend" ng-disabled="!createMapButtonOn"/>
                    <span translate="AddLegend"></span>
                </div>
            </div>
        </div>
        <div class="new-section navigation-button pull-right">
            <button class="btn btn-default btn-ordinary"
                    data-ng-click="deactivatePrintBoxSelect(); showSearchOptionsPanel()" translate="Cancel_txt">
            </button>

            <button class="btn btn-default btn-important" data-ng-click="orderMap()"
                    ng-disabled="!createMapButtonOn" translate="lagTurkart">
            </button>

            <button class="btn btn-default btn-important" data-ng-click="downloadMap()"
                    ng-disabled="!mapAvailable" translate="DownloadMap">
            </button>
        </div>
    </div>
</div>
<!--<div id="searchPanelAjaxLoader" class="body-overlay no-print">-->
    <!--<div class="ajax-loader"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>-->
<!--</div>-->
