<div class="header header-move">
    <div class="row">
        <div class="col-xs-8">
            <span class="header-icon icon-important" data-ng-class="headerIcon"></span>
            <span translate="{{header}}"></span>
        </div>
        <div class="col-xs-4">
            <div class="closebtn" data-ng-click="closeOverlay()">
                <span class="glyphicon glyphicon-menu-right"></span>
                <span class="glyphicon glyphicon-menu-left"></span>
            </div>
        </div>
    </div>
</div>
<div ng-transclude></div>
<!--<div class="header-moveable header-move ellipsis">-->
    <!--<span class="header-icon" data-ng-class="headerIcon"></span>-->
    <!--<span class="header-text" translate="{{header}}"></span>-->
    <!--<div class="backbtn" data-ng-click="closeOverlay()">-->
        <!--<span class="glyphicon glyphicon-remove"></span>-->
    <!--</div>-->
<!--</div>-->
<!--<div ng-transclude></div>-->