/* The side navigation menu */
.sidebasemapnav {
  //height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 16; /* Stay on top */
  //top: 0;
  //left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */

  //z-index: 12;
  //position: absolute;
  bottom: 25px;
  right: 124px;
  //width:105px;
}

.side-base-map-position{
  position: static;
}

/* The navigation menu links */
.sidebasemapnav-close-menu {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #2f3940;
  display: block;
  transition: 0.3s
}



