.ol-control button {
  display: block;
  //margin: 1px;
  margin-bottom: 5px;
  padding: 0;
  color: #fff;
  font-size: 1.14em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  height: 34px;
  width: 36px;
  line-height: .4em;
  background-color: $color-important;//rgba(0,60,136,.5);
  opacity: 0.7;
  border: none;
  border-radius: 2px;
  @extend .transitionBtn;

}

.ol-control button:focus{
  outline: transparent;
}

.ol-zoom {
  top: 12px;
  left: auto;
  right: 16px;
  padding: 0;
}

.ol-noembed {
  bottom: 10px;
  left: auto;
  right: 16px;
  top: auto;
  z-index: 12;
  .fa {
    padding: 0;
  }
}

.ol-geolocation {
  bottom: auto;
  left: auto;
  right: 16px;
  top: 100px;
  z-index: 13;
  .fa {
    padding: 0;
  }
}

.ol-control button:hover{
  opacity: 0.9;
  color: white;//#101010;//$gray-dark;//#000;
}


.ol-control {
  position: absolute;
  background: none;
  border-radius: 4px;
  padding: 2px;
}

.ol-scale-line {
  bottom: 25px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  .ol-scale-line-inner {
    background-color: rgba(255,255,255,0.35);
    border-color: black;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 0;
    text-align: center;
  }
}