@mixin create-spacer ($name, $value) {
  #{$name}: $value !important;
}

$types: m margin, p padding;
$doubles: x left right, y bottom top;
$singles: b bottom, l left, r right, t top;

@for $spacer-index from 0 through 3 {
  $spacer-value: $spacer-index * 5px;
  @each $type in $types {
    $type-letter: nth($type, 1);
    $type-name: nth($type, 2);
    .#{$type-letter}-#{$spacer-index} {
      @include create-spacer($type-name, $spacer-value);
    }
    @each $double in $doubles {
      $double-letter: nth($double, 1);
      $double-name-alpha: nth($double, 2);
      $double-name-omega: nth($double, 3);
      .#{$type-letter}#{$double-letter}-#{$spacer-index} {
        @include create-spacer(#{$type-name}-#{$double-name-alpha}, $spacer-value);
        @include create-spacer(#{$type-name}-#{$double-name-omega}, $spacer-value);
      }
    }
    @each $single in $singles {
      $single-letter: nth($single, 1);
      $single-name: nth($single, 2);
      .#{$type-letter}#{$single-letter}-#{$spacer-index} {
        @include create-spacer(#{$type-name}-#{$single-name}, $spacer-value);
      }
    }
  }
}