@font-face {
  font-family: 'vectoricon';
  src: url('../assets/fonts/vectoricon.eot');
  src: url('../assets/fonts/vectoricon.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/vectoricon.woff') format('woff'),
  url('../assets/fonts/vectoricon.ttf') format('truetype'),
  url('../assets/fonts/vectoricon.svg#vectoricon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='vectoricon-']:before{
  display: inline-block;
  font-family: 'vectoricon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.vectoricon-Polyline:before{content:'\0041';}
.vectoricon-Polygon:before{content:'\0042';}
.vectoricon-Point:before{content:'\0043';}
.vectoricon-Polygon3:before{content:'\0044';}
.vectoricon-Polygon2:before{content:'\0045';}
.vectoricon-Polyline2:before{content:'\0046';}
.vectoricon-Polyline3:before{content:'\0047';}